contourpy==1.1.1
imageio==2.34.1
lazy-loader==0.4
matplotlib==3.7.5
numpy==1.24.4
opencv-python==4.9.0.80
pillow==10.3.0
python-dateutil==2.9.0.post0
scikit-image==0.21.0
scipy==1.10.1
sympy==1.12
torch==2.3.0
torchvision==0.18.0
